body {
    background-color: darkolivegreen;
    color: white;
    font-family: sans-serif;
}

.content {
    width: 680px;
    margin: auto;
    text-align: center;
}

.movie-list {
    list-style: none;
}

.button {
    color: skyblue;
    text-decoration: none;
    font-size: 22px;
}

.button:hover {
    text-decoration: underline;
}

